<div class="col-3 mt-3">
    <a href="@Url.Action("GioHang", "GioHang")" class="btn btn-primary" style="height:40px; background-color:darkred"><span><b>Giỏ Hàng&nbsp;&nbsp;</b></span><i class="fa fa-shopping-cart">(@ViewBag.TongSL)</i></a>
</div>
