@using Nhom7_WebsiteBanDienThoaiDiDongVaPhuKien.Models;

@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="font-size: 50px; padding-top:30px; padding-bottom: 30px" class="area">Đặt Hàng Thành Công</div>

