@{
    ViewBag.Title = "Home Page";
}
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="/Home/Index">Home</a></li>
                <li class="active">Trang Chủ</li>
            </ul>
        </div>
    </div>
</div>