@model Nhom7_WebsiteBanDienThoaiDiDongVaPhuKien.Models.SANPHAM

@{
    ViewBag.Title = "XoaSanPham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 style="text-align:center">Bạn Muốn Xoá Sản Phẩm Này?</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <center>
            <div class="form-actions no-color" style="padding-bottom:20px">
                <input type="submit" value="Delete" class="btn btn-primary" style="height:40px" />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="@Url.Action("QuanTriAdmin", "NguoiDung")" class="btn btn-primary" style="height:40px">Trở Về</a>
            </div>
        </center>
    }
</div>